.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.75s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  transition: all 0.75s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 9.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #344c6b;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.75s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: rgb(255, 255, 255);
  transform: translate3d(0, 100%, 0);
  transition: all 0.75s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 520px;
  height: 343px;
  background: url("/main/img/JYL_Logo_001-02.png");
  background-repeat: no-repeat;
  background-position: center;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.75s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #f5f5f5;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  transition: all 0.75s ease-out;
}
.menu .nav-link:hover {
  color: #43a2fb;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  transition: all 0.75s ease-in;
  background: #fff;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: "Merriweather", "Open Sans", serif;
  line-height: 1.5;
}

body#body-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading {
  font-size: 6rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #fff;
}

.text-highlight {
  color: #830118;
}
.home-skills {
  font-family: "Montserrat", sans-serif;
  color: #e9e9e9;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
main .icons {
  margin-top: 1rem;
  animation: tilt 2s infinite;
  animation-direction: alternate;
}
main .icons a {
  padding: 1.1rem;
  color: #333;
}
main .icons a:hover {
  color: #f5f5f5;
  transition: all 0.75s ease-out;
}
main#home {
  overflow: hidden;
  float: right;
}
main#home h1 {
  margin-top: 25vh;
  font-size: 4rem;
}

.hire-btn {
  position: absolute;
  top: 35px;
  left: 95px;
}
.hire-btn a {
  font-size: 15x;
  font-weight: 600;
  border-bottom: 2px solid #437eb4;
  background: none;
  color: #ffffff;
  opacity: 9;
  padding: 1rem;

  transition: all 0.5s ease-out;
}
.hire-btn:hover a {
  color: #437eb4;
  font-size: 20px;
  opacity: 9;
  border-style: none;
  transition: all 0.25s ease-in;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "skill1 skill2 skill3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 5%;
  border: #fff 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
  /*
    h3 {
    transition: 0.5s;
    @include easeOut;
    }
    h3:hover {
      font-weight: 900;
      @include easeIn;
    }
    */
}
.about-info .skill-1 {
  grid-area: skill1;
}
.about-info .skill-2 {
  grid-area: skill2;
}
.about-info .skill-3 {
  grid-area: skill3;
}
.about-info .skill {
  background: white;
  padding: 0.5rem;
  border-bottom: #437eb4 5px solid;
}

.work_background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-heading {
  margin: 2rem;
  padding: 1.2rem 1rem;
}

.cross-line {
  border-top: 3px dashed #437eb4;
  margin: 1rem 0;
  padding-bottom: 1rem;
  overflow: hidden;
}

.quote {
  font-family: "Indie Flower", cursive;
}

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
.projects img {
  border: 3px #fff solid;
  width: 100%;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #437eb4;
  transition: all 0.75s ease-out;
}

.contact_background {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes .text-secondary {
  color: #437eb4;
}
.boxes div {
  font-size: 1.5rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.75s ease-out;
}
.boxes div:hover {
  padding: 0.75rem 1.5rem;
  background: #c53c3c;
  color: #f3f3f3;
  font-weight: 600;
}
.boxes div:hover span {
  color: #f3f3f3;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #437eb4;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
  font-weight: bold;
}

.btn-light {
  background: white;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: rgba(230, 230, 230, 0.5);
  color: #000;
  height: 60px;
}

.bio_background {
  background-size: cover;
}
.about_background {
  background-size: cover;
}
main {
  align-items: center;
  text-align: center;
}
main .lg-heading {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 4rem;
}
ul.menu-nav,
div.menu-branding {
  float: none;
  width: 100%;
  min-height: 0;
}
ul.menu-nav.show,
div.menu-branding.show {
  transform: translate3d(0, 0, 0);
  font-size: 24px;
}
.menu-nav {
  font-size: 24px;
  height: 75vh;
  transform: translate3d(-100%, 0, 0);
}
.menu-branding {
  height: 25vh;
  transform: translate3d(100%, 0, 0);
}

.about-info {
  grid-template-areas: "bioimage" "bio" "skill1" "skill2" "skill3";
  grid-template-columns: 1fr;
}

.work-heading {
  font-size: 20px;
}
#body-img {
  background-size: 50% 75%;
}
main .lg-heading {
  margin-top: 1rem;
  font-size: 40px;
}
main .sm-heading {
  font-size: 20px;
}

.menu-branding .portrait {
  background: url("/img/JYL_logo_small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 193px;
  height: 129px;
}
.about-info .bio-image {
  width: 200px;
  height: 229px;
}
.about-info .bio p {
  font-size: 15px;
  font-weight: 600;
}

/* The icons tilt effect */
@keyframes tilt {
  from {
    transform: skewX(-5deg);
  }
  to {
    transform: skewX(5deg);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2007ff;
  }
}

@media screen and (min-width: 1171px) {
  .typewriter h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.05em;
    animation: typing 5.5s steps(50, end), blink-caret 0.75s step-end infinite;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    height: 65vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .hire-btn a {
    padding: 0.5rem;
    opacity: 9;
  }
}
@media screen and (max-width: 768px) {
  .hire-btn {
    display: none;
  }
  main#home h1 {
    font-size: 3rem;
    margin-top: 10vh;
  }
}
@media screen and (max-width: 500px) {
  .hire-btn {
    display: none;
  }
}

/* animated background */
.area {
  background: #437eb4;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 120vh;
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.squares li:nth-child(10) {
  left: 5%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
