// XLarge-size screens
@include mediaXl {
  // Hire button
  .hire-btn {
    a {
      padding: 0.5rem;
      opacity: 9;
    }  
  }
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
// Large-size screens
@include mediaLg {
  // Hire button
  .hire-btn {
    a {
      padding: 0.5rem;
      opacity: 9;
    }  
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

// Medium-size screens
@include mediaMd {
  // Hire button
  .hire-btn a {
    border: 2px solid $secondary-color;
    padding: 0.5rem;
    opacity: 9;
    color: $secondary-color;
  }
  .bio_background {
    background-size: cover;
  }
  
  .about_background {
    background-size: cover;
  }
  main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 4rem;

        }
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
            font-size: 24px;
        }
    }
    .menu-nav {
        font-size: 24px;
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);
    
        .portrait {
          background: url(".../img/JYL_logo.jpg");
          background-position: center;
          background-repeat: no-repeat;
          width: 200px;
          height: 228px;
        }
      }
    
      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'skill1'
          'skill2'
          'skill3';
    
        grid-template-columns: 1fr;
      }
    
      .projects {
        grid-template-columns: repeat(2, 1fr);
        img {
          width: 100%;  // Project image width
        }
      }

      
    }
    
// Small-size screens
@include mediaSm {
    // Hire button
    .hire-btn a {
      border: 2px solid $secondary-color;
      padding: 0.5rem;
      color: $secondary-color;
      opacity: 9;
      /* 
      &:hover {
        color: #f161ba;
        
      }
      */
    }
    // h1 Home font 
    main#home h1 {
        margin-top: 10vh;
        font-size: 50px;
    }
    .work-heading {
      font-size: 20px;
    }
    #body-img {
      background-size: 50% 75%;
    }
    main {

    .lg-heading {
        margin-top: 1rem;
        font-size: 40px;
        
    }
    .sm-heading {
      font-size: 20px;
    }
  }
    .projects {
      grid-template-columns: 1fr;
      img {
        width: 100%;  // Project image width
      }
    }
    .menu-branding {
      .portrait {
        background: url("JYL_logo.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        width: 180px;
        height: 205px;
      }
    }
    .about-info {
      .bio-image {
        width: 200px;
        height: 229px;
      }
      .bio {
        p {
        font-size: 15px;
        font-weight: 600;
        }
      }
    }
} 